.represent, .skill, .parallax, .work {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.introduce .introduce__content .introduce__top, .creative .creative__content .creative__top, .team .team__content .team__top, .blog .blog__content .blog__top {
  text-align: center;
  margin-bottom: 130px;
}

.introduce .introduce__content .introduce__top h3, .creative .creative__content .creative__top h3, .team .team__content .team__top h3, .blog .blog__content .blog__top h3 {
  color: #333;
  font-size: 24px;
  font-weight: normal;
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 10px;
  letter-spacing: 2px;
}

.introduce .introduce__content .introduce__top p, .creative .creative__content .creative__top p, .team .team__content .team__top p, .blog .blog__content .blog__top p {
  width: 60%;
  margin: 0 auto;
  color: #7e7e7e;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  color: #323232;
  text-rendering: optimizeLegibility;
}

header {
  position: absolute;
  z-index: 2;
  width: 100%;
}

header .myNavBar .navbar {
  padding: 0 30px;
  height: 100px;
}

header .myNavBar .navbar .navbar-brand img {
  position: relative;
  top: -2px;
  display: inline-block;
  padding: 2px 0;
  width: 110px;
}

header .myNavBar .navbar .navbar-toggler {
  color: white;
}

header .myNavBar .navbar .navbar-collapse .navbar-nav .nav-item {
  margin-left: 2px;
}

header .myNavBar .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
  padding: 0 12px;
  font-size: 13px;
  font-weight: normal;
  letter-spacing: 0.5px;
  color: #fff;
}

header .myNavBar .navbar .navbar-collapse .navbar-nav .nav-item.active .nav-link {
  color: #d6b161;
}

header .myNavBar .navbar .navbar-collapse .navbar-nav .nav-item:hover .nav-link {
  color: #d6b161;
}

@media screen and (min-width: 992px) and (max-width: 1020px) {
  header .navbar {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 992px) {
  header .navbar-collapse {
    width: 100%;
    background-color: white;
  }
  header .navbar-collapse .navbar-nav .nav-item .nav-link {
    color: black !important;
    padding: 12px 20px !important;
    border-bottom: solid 1px #f0f0f0 !important;
  }
  header .navbar-collapse .navbar-nav .nav-item.active .nav-link {
    color: #d6b161 !important;
  }
  header .navbar-collapse .navbar-nav .nav-item:hover .nav-link {
    color: #d6b161 !important;
  }
}

#headerFixed {
  background-color: #0a0a0a;
  position: fixed;
  top: 0;
  transform: translateY(-100%);
  transition: transform 0.5s;
}

#headerFixed .myNavBar .navbar {
  height: 65px;
}

#headerFixed .myNavBar .navbar .navbar-brand img {
  width: 65px;
}

.represent {
  background-image: url(../img/index-banner-2.jpg);
  height: 100vh;
  position: relative;
}

.represent .represent__content {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.represent .represent__content h1 {
  color: #fff;
  font-size: 60px;
  font-weight: 300;
  letter-spacing: 5px;
  line-height: normal;
}

.represent .represent__content h3 {
  color: #fff;
  font-size: 20px;
  font-weight: normal;
  line-height: 1.5;
  letter-spacing: 6px;
}

@media screen and (max-width: 768px) {
  .represent .represent__content h1 {
    font-size: 30px;
  }
  .represent .represent__content h3 {
    font-size: 18px;
  }
}

.introduce .introduce__content .introduce__bottom .introduce__item {
  transition: 0.5s;
}

.introduce .introduce__content .introduce__bottom .introduce__item .card {
  position: relative;
  padding: 30px;
  border: 1px solid #e9e9e9;
  border-radius: 4px;
}

.introduce .introduce__content .introduce__bottom .introduce__item .card .card-img-top {
  position: absolute;
  top: -30px;
  left: 30px;
  width: 60px;
  height: 60px;
  border-radius: 4px;
  background-color: #222;
  text-align: center;
  box-shadow: 0 0 0 10px #fff;
}

.introduce .introduce__content .introduce__bottom .introduce__item .card .card-img-top i {
  line-height: 60px;
  color: #fff;
  font-size: 30px;
}

.introduce .introduce__content .introduce__bottom .introduce__item:hover .card-img-top {
  background-color: #d6b161;
}

.skill {
  background-image: url(../img/4.jpg);
  height: 650px;
  overflow: hidden;
}

.skill .skill__content {
  height: 100%;
  width: 100%;
}

.skill .skill__content .row {
  height: 100%;
}

.skill .skill__content .row .skill__white {
  width: 100%;
  position: relative;
}

.skill .skill__content .row .skill__white .skill__left {
  position: absolute;
  top: 50%;
  left: 27%;
  transform: translateY(-50%);
}

.skill .skill__content .row .skill__white .skill__left h3 {
  color: #fff;
  font-size: 24px;
  font-weight: normal;
  letter-spacing: 6px;
}

.skill .skill__content .row .skill__black {
  width: 50%;
  background-color: rgba(0, 0, 0, 0.5);
}

.skill .skill__content .row .skill__black .skill__right {
  padding: 0 200px 0 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.skill .skill__content .row .skill__black .skill__right .skill__top h4 {
  color: #fff;
  font-size: 18px;
  font-weight: normal;
  letter-spacing: 2px;
  margin-bottom: 30px;
}

.skill .skill__content .row .skill__black .skill__right .skill__top p {
  color: #fff;
  font-size: 15px;
  font-weight: normal;
  line-height: 30px;
}

.skill .skill__content .row .skill__black .skill__right .skill__bottom .progress {
  margin: 30px 0 50px;
  border-radius: 0px;
  background: #606060;
}

.skill .skill__content .row .skill__black .skill__right .skill__bottom .progress .progress-bar {
  padding-left: 10px;
  color: #222;
}

@media screen and (max-width: 992px) {
  .skill {
    height: 100vh;
  }
}

.creative .creative__content .creative__top {
  margin-bottom: 60px;
}

.creative .creative__content .creative__bottom .nav-creative {
  display: flex;
  justify-content: center;
}

.creative .creative__content .creative__bottom .nav-creative .nav-item .nav-link {
  color: #a9a8a8;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 3px;
}

.creative .creative__content .creative__bottom .nav-creative .nav-item .nav-link.active {
  color: #222;
}

.creative .creative__content .creative__bottom .tab-content .all__content .all__item img {
  width: 100%;
}

.team .team__content .team__bottom .col-lg-4,
.team .team__content .team__bottom .col-12 {
  padding: 0 30px;
}

.team .team__content .team__bottom .col-lg-4 .team__introduce,
.team .team__content .team__bottom .col-12 .team__introduce {
  position: relative;
  overflow: hidden;
}

.team .team__content .team__bottom .col-lg-4 .team__introduce .team__img,
.team .team__content .team__bottom .col-12 .team__introduce .team__img {
  position: relative;
}

.team .team__content .team__bottom .col-lg-4 .team__introduce .team__img img,
.team .team__content .team__bottom .col-12 .team__introduce .team__img img {
  width: 100%;
}

.team .team__content .team__bottom .col-lg-4 .team__introduce .team__img .team__name,
.team .team__content .team__bottom .col-12 .team__introduce .team__img .team__name {
  position: absolute;
  right: 0;
  bottom: 30px;
  width: 70%;
  padding: 10px 20px;
  text-align: right;
  background: rgba(0, 0, 0, 0.7);
}

.team .team__content .team__bottom .col-lg-4 .team__introduce .team__img .team__name h5,
.team .team__content .team__bottom .col-12 .team__introduce .team__img .team__name h5 {
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 0;
  letter-spacing: 2px;
}

.team .team__content .team__bottom .col-lg-4 .team__introduce .team__img .team__name span,
.team .team__content .team__bottom .col-12 .team__introduce .team__img .team__name span {
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 2px;
}

.team .team__content .team__bottom .col-lg-4 .team__introduce .team__hover,
.team .team__content .team__bottom .col-12 .team__introduce .team__hover {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  opacity: 0;
  border: 20px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.9);
}

.team .team__content .team__bottom .col-lg-4 .team__introduce .team__hover .hover__top,
.team .team__content .team__bottom .col-12 .team__introduce .team__hover .hover__top {
  transition: all 0.5s;
  position: absolute;
  top: 0;
  width: 100%;
  padding: 0 20px;
  transform: translateY(-55%);
  text-align: center;
}

.team .team__content .team__bottom .col-lg-4 .team__introduce .team__hover .hover__top h4,
.team .team__content .team__bottom .col-12 .team__introduce .team__hover .hover__top h4 {
  margin-bottom: 25px;
  letter-spacing: 4px;
  font-size: 14px;
}

.team .team__content .team__bottom .col-lg-4 .team__introduce .team__hover .hover__top p,
.team .team__content .team__bottom .col-12 .team__introduce .team__hover .hover__top p {
  margin-bottom: 0;
  color: #7e7e7e;
  font-size: 14px;
  font-weight: normal;
  line-height: 30px;
}

.team .team__content .team__bottom .col-lg-4 .team__introduce .team__hover .hover__bottom,
.team .team__content .team__bottom .col-12 .team__introduce .team__hover .hover__bottom {
  transition: all 0.5s;
  position: absolute;
  bottom: 0;
  width: 100%;
  transform: translateY(45%);
  text-align: center;
}

.team .team__content .team__bottom .col-lg-4 .team__introduce .team__hover .hover__bottom a,
.team .team__content .team__bottom .col-12 .team__introduce .team__hover .hover__bottom a {
  color: #222;
  font-size: 16px;
  font-weight: normal;
  transition: 0.5s;
  margin: 0 10px;
}

.team .team__content .team__bottom .col-lg-4 .team__introduce .team__hover .hover__bottom a:hover,
.team .team__content .team__bottom .col-12 .team__introduce .team__hover .hover__bottom a:hover {
  color: #d6b161;
}

.team .team__content .team__bottom .col-lg-4 .team__introduce .team__hover:hover,
.team .team__content .team__bottom .col-12 .team__introduce .team__hover:hover {
  opacity: 1;
}

.team .team__content .team__bottom .col-lg-4 .team__introduce .team__hover:hover .hover__top,
.team .team__content .team__bottom .col-12 .team__introduce .team__hover:hover .hover__top {
  transform: translateY(0%);
}

.team .team__content .team__bottom .col-lg-4 .team__introduce .team__hover:hover .hover__bottom,
.team .team__content .team__bottom .col-12 .team__introduce .team__hover:hover .hover__bottom {
  transform: translateY(-50%);
}

.club .club__content {
  background: #f5f5f5;
  margin: 0 15px;
  padding: 40px;
}

.club .club__content .col-9 h4 {
  letter-spacing: 1px;
  color: #333;
  font-size: 18px;
  font-weight: normal;
}

.club .club__content .col-9 h4 span {
  color: #d6b161;
}

.club .club__content .col-9 p {
  margin-top: 10px;
  margin-bottom: 0;
  color: #7e7e7e;
  font-size: 15px;
  font-weight: 400;
}

.parallax {
  background-image: url(../img/8.jpg);
  height: 500px;
}

.parallax .parallax__content {
  padding: 150px 0;
  text-align: center;
}

.parallax .parallax__content p {
  color: #d6b161;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 3px;
}

.parallax .parallax__content h1 {
  margin-bottom: 50px;
  letter-spacing: 2px;
  color: #fff;
  font-size: 36px;
  font-weight: normal;
}

.blog .blog__content .blog__bottom .row .blog__img {
  padding: 0 30px;
}

.blog .blog__content .blog__bottom .row .blog__img .blog__imgContent {
  position: relative;
}

.blog .blog__content .blog__bottom .row .blog__img .blog__imgContent img {
  width: 100%;
}

.blog .blog__content .blog__bottom .row .blog__img .blog__imgContent .blog__textImg {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
}

.blog .blog__content .blog__bottom .row .blog__img .blog__imgContent .blog__textImg p {
  margin-bottom: 0;
}

.blog .blog__content .blog__bottom .row .blog__contentText {
  padding: 30px;
  height: 309px;
}

.blog .blog__content .blog__bottom .row .blog__contentText .blog__address {
  padding: 0;
  list-style: none;
  margin-bottom: 10px;
}

.blog .blog__content .blog__bottom .row .blog__contentText .blog__address li {
  display: inline-block;
  margin-right: 10px;
}

.blog .blog__content .blog__bottom .row .blog__contentText .blog__address li a {
  color: #909090;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  transition: 0.5s;
}

.blog .blog__content .blog__bottom .row .blog__contentText .blog__address li a:hover {
  color: #d6b161;
  text-decoration: none;
}

.blog .blog__content .blog__bottom .row .blog__contentText .blog__slogan a {
  margin-bottom: 30px;
  color: #333;
  font-size: 18px;
  font-weight: normal;
  transition: 0.5s;
  letter-spacing: 1px;
}

.blog .blog__content .blog__bottom .row .blog__contentText .blog__slogan a:hover {
  color: #d6b161;
  text-decoration: none;
}

.blog .blog__content .blog__bottom .row .blog__contentText .blog__date {
  margin-bottom: 25px;
}

.blog .blog__content .blog__bottom .row .blog__contentText .blog__date a {
  color: #909090;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 2px;
}

.blog .blog__content .blog__bottom .row .blog__contentText .blog__date a::after {
  padding-right: 5px;
  padding-left: 10px;
  content: "|";
}

.blog .blog__content .blog__bottom .row .blog__contentText .blog__date a:hover {
  color: #d6b161;
  text-decoration: none;
}

.blog .blog__content .blog__bottom .row .blog__contentText .blog__date span {
  color: #909090;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 2px;
}

.blog .blog__content .blog__bottom .row .blog__contentText .blog__document {
  margin-bottom: 30px;
  line-height: 30px;
  color: #909090;
  font-size: 15px;
  font-weight: 400;
}

.blog .blog__content .blog__bottom .row .blog__contentText .blog__readMore {
  position: relative;
  letter-spacing: 1px;
  color: #bbb;
  font-size: 15px;
  font-weight: 400;
  transition: 0.5s;
}

.blog .blog__content .blog__bottom .row .blog__contentText .blog__readMore i {
  position: absolute;
  top: 2px;
  margin-left: 10px;
  font-weight: bold;
}

.blog .blog__content .blog__bottom .row .blog__contentText .blog__readMore:hover {
  color: #222;
  text-decoration: none;
}

.work {
  background-image: url(../img/pattern-2.png);
  height: 603px;
  padding: 100px 0;
}

.work .work__content {
  padding: 0 45px;
}

.work .work__content .nav-pills .nav-item {
  position: relative;
}

.work .work__content .nav-pills .nav-item .nav-link {
  padding: 35px 70px;
  background-color: rgba(34, 34, 34, 0.05);
  margin-right: 20px;
  border-radius: 0;
}

.work .work__content .nav-pills .nav-item .nav-link i {
  color: #434343;
  font-size: 36px;
}

.work .work__content .nav-pills .nav-item .nav-link::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 40%;
  width: 20px;
  height: 20px;
  background-color: rgba(34, 34, 34, 0.05);
  display: none;
  transform: rotate(45deg);
}

.work .work__content .nav-pills .nav-item .nav-link:hover {
  background-color: #fff;
}

.work .work__content .nav-pills .nav-item .nav-link:hover::after {
  display: block;
  background-color: #fff;
}

.work .work__content .nav-pills .nav-item .nav-link:focus {
  background-color: #fff;
}

.work .work__content .nav-pills .nav-item .nav-link:focus::after {
  display: block;
  background-color: #fff;
}

.work .work__content .tab-content {
  padding: 30px 0;
}

.work .work__content .tab-content .tab-pane {
  line-height: 30px;
}

.work .work__content .tab-content .tab-pane h5 {
  color: #7e7e7e;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 2px;
}

.work .work__content .tab-content .tab-pane h2 {
  color: #222;
  font-size: 30px;
  font-weight: normal;
  letter-spacing: 2px;
  margin-bottom: 50px;
}

@media screen and (max-width: 768px) {
  .work {
    height: 120vh;
  }
  .work .work__content {
    padding-right: 0;
    padding-left: 0;
  }
  .work .work__content .nav-pills li {
    margin-bottom: 15px;
    width: 100%;
  }
}

.number {
  background-color: #1b1b1b;
  padding: 100px;
  color: #fff;
  text-align: center;
}

.number .number__content .number__top {
  margin-bottom: 10px;
}

.number .number__content .number__top i {
  padding-right: 10px;
  font-size: 36px;
}

.number .number__content .number__top span {
  font-size: 36px;
  letter-spacing: 2px;
}

.number .number__content .number__bottom h3 {
  letter-spacing: 1px;
  font-size: 15px;
}

.feedback {
  border-bottom: 1px solid #bbb;
  padding-bottom: 100px;
}

.feedback .feedback__content {
  width: 50%;
  margin: auto;
}

.feedback .feedback__content .item {
  text-align: center;
}

.feedback .feedback__content .item .feedback__icon {
  border-radius: 50%;
  margin-bottom: 20px;
}

.feedback .feedback__content .item .feedback__icon i {
  width: 100px;
  height: 100px;
  line-height: 100px;
  border-radius: 50%;
  color: #fff;
  font-size: 55px;
  font-weight: 400;
  background-color: #bbb;
}

.feedback .feedback__content .item .feedback__text {
  margin: 20px;
}

.feedback .feedback__content .item .feedback__text p {
  color: #7e7e7e;
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  line-height: 30px;
  margin-bottom: 30px;
}

.feedback .feedback__content .item .feedback__text h4 {
  margin-top: 10px;
  letter-spacing: 2px;
  color: #222;
  font-size: 14px;
  font-weight: 400;
}

.feedback .feedback__content .item .feedback__text h5 {
  color: #7f7f7f;
  font-size: 12px;
  font-weight: 400;
}

footer {
  background-color: #222;
  padding-top: 80px;
}

footer .footer__content .footer__top .footer__logo p {
  color: #7e7e7e;
  font-size: 15px;
  font-weight: 400;
  margin: 0 0 30px;
  line-height: 30px;
}

footer .footer__content .footer__top .footer__text {
  padding: 30px;
}

footer .footer__content .footer__top .footer__text h4 {
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 1px;
  margin-bottom: 30px;
}

footer .footer__content .footer__top .footer__text ul {
  list-style: none;
}

footer .footer__content .footer__top .footer__text ul li {
  border-bottom: 1px solid #333;
}

footer .footer__content .footer__top .footer__text ul li a {
  color: #a2a2a2;
  font-size: 15px;
  font-weight: 400;
  line-height: 45px;
}

footer .footer__content .footer__top .footer__img {
  padding: 30px;
}

footer .footer__content .footer__top .footer__img h4 {
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 1px;
  margin-bottom: 30px;
}

footer .footer__content .footer__top .footer__img .row {
  width: 90%;
}

footer .footer__content .footer__top .footer__img .row .col-xl-4 {
  cursor: pointer;
}

footer .footer__content .footer__top .footer__img .row .col-xl-4 img {
  width: 100%;
  height: 100%;
}

footer .footer__content .footer__bottom {
  width: 100%;
  padding: 45px 0;
  border-top: 1px solid #2c2c2c;
  background: #1b1b1b;
  color: #6f7273;
}

footer .footer__content .footer__bottom .row {
  width: 90%;
  margin: auto;
  padding: 0;
}

footer .footer__content .footer__bottom .row .footer__bottomRight p {
  margin-bottom: 0;
  margin-left: 0;
}

footer .footer__content .footer__bottom .row .footer__bottomRight p span {
  color: #fff;
  transition: 0.5s;
}

footer .footer__content .footer__bottom .row .footer__bottomRight p span:hover {
  color: #d6b161;
}

footer .footer__content .footer__bottom .row .footer__bottomLeft a i {
  color: #6f7273;
  width: 35px;
  height: 35px;
  text-align: center;
  border: 1px solid #5a5a5a;
  border-radius: 50%;
  line-height: 35px;
  margin-right: 15px;
  transition: 0.5s;
}

footer .footer__content .footer__bottom .row .footer__bottomLeft a:hover i {
  color: #fff;
  background: #5a5a5a;
}

.button-black {
  padding: 15px 30px;
  color: #fff;
  background: #222;
  letter-spacing: 1px;
  border: 1px solid transparent;
  transition: 0.5s;
}

.button-black:hover {
  background-color: #d6b161;
}

.button-yellow {
  padding: 15px 30px;
  color: #fff;
  background: #d6b161;
  letter-spacing: 1px;
  border: 1px solid transparent;
  transition: 0.5s;
}

.button-yellow:hover {
  background-color: #fff;
  color: #222;
}

section {
  margin-bottom: 100px;
}

.underlined::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 50%;
  width: 60px;
  height: 2px;
  margin-left: -31px;
  background: #595959;
}

.carousel-style-1 {
  justify-content: flex-end;
  margin-right: 6%;
}

.carousel-style-1 li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #fff;
  background-color: transparent;
  box-sizing: border-box;
  opacity: 1;
}

.carousel-style-1 li.active {
  background: #fff;
}

.backToTop {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 40px;
  height: 40px;
  transition: 0.5s;
  text-align: center;
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
  line-height: 40px;
  visibility: hidden;
  opacity: 0;
}

.backToTop:hover {
  background-color: #d6b161;
  color: #222;
}

.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}
/*# sourceMappingURL=main.css.map */