.backToTop {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 40px;
    height: 40px;
    transition: 0.5s;
    text-align: center;
    color: #fff;
    background: rgba(0, 0, 0, .6);
    line-height: 40px;
    &:hover {
        background-color: $color-yellow-0;
        color: $color-black-2;
    }
    visibility: hidden;
    opacity: 0;
}

.cd-top--is-visible {
    visibility: visible;
    opacity: 1;
}