.button-black {
    padding: $padding-2 $padding-3;
    color: $color-white-0;
    background: $color-black-2;
    letter-spacing: $letter-spacing-0;
    border: 1px solid transparent;
    transition: 0.5s;
    &:hover {
        background-color: $color-yellow-0;
    }
}

.button-yellow {
    padding: $padding-2 $padding-3;
    color: $color-white-0;
    background: $color-yellow-0;
    letter-spacing: $letter-spacing-0;
    border: 1px solid transparent;
    transition: 0.5s;
    &:hover {
        background-color: $color-white-0;
        color: $color-black-2;
    }
}