.carousel-style-1 {
    justify-content: flex-end;
    margin-right: 6%;
    li {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: 1px solid $color-white-0;
        background-color: transparent;
        box-sizing: border-box;
        opacity: 1;
        &.active {
            background: $color-white-0;
        }
    }
}