.underlined {
    &::after {
        content: '';
        position: absolute;
        bottom: -2px;
        left: 50%;
        width: $font-size-1;
        height: 2px;
        margin-left: -31px;
        background: $color-gray-0;
    }
}