%backgroundImg {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

%styleIntro {
    text-align: center;
    margin-bottom: $margin-7;
    h3 {
        @include styleText($color-black-1, $font-size-2 + 4, $font-weight-3);
        position: relative;
        margin-bottom: $margin-4;
        padding-bottom: $padding-1;
        letter-spacing: $letter-spacing-0 + 1;
    }
    p {
        width: 60%;
        margin: 0 auto;
        @include styleText($color-gray-1, $font-size-0, $font-weight-0);
        line-height: $line-height-0;
    }
}