* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: $font-size-0;
    font-weight: $font-weight-0;
    line-height: 1.5;
    color: $color-black-0;
    text-rendering: optimizeLegibility;
}