.blog {
    .blog__content {
        .blog__top {
            @extend %styleIntro;
        }
        .blog__bottom {
            .row {
                .blog__img {
                    padding: 0 $padding-3;
                    .blog__imgContent {
                        position: relative;
                        img {
                            width: 100%;
                        }
                        .blog__textImg {
                            position: absolute;
                            left: 0;
                            bottom: 0;
                            width: 100%;
                            padding: $padding-1;
                            color: $color-white-0;
                            background: $color-black-3;
                            p {
                                margin-bottom: 0;
                            }
                        }
                    }
                }
                .blog__contentText {
                    padding: $padding-3;
                    height: 309px;
                    .blog__address {
                        padding: 0;
                        list-style: none;
                        margin-bottom: $margin-5;
                        li {
                            display: inline-block;
                            margin-right: $margin-5;
                            a {
                                @include styleText($color-gray-8, $font-size-0 - 3, $font-weight-0);
                                letter-spacing: $letter-spacing-0;
                                transition: 0.5s;
                                &:hover {
                                    color: $color-yellow-0;
                                    text-decoration: none;
                                }
                            }
                        }
                    }
                    .blog__slogan {
                        a {
                            margin-bottom: $margin-0;
                            @include styleText($color-black-1, $font-size-0 + 3, $font-weight-3);
                            transition: 0.5s;
                            letter-spacing: $letter-spacing-0;
                            &:hover {
                                color: $color-yellow-0;
                                text-decoration: none;
                            }
                        }
                    }
                    .blog__date {
                        margin-bottom: $margin-4 + 5;
                        a {
                            @include styleText($color-gray-8, $font-size-0 - 3, $font-weight-0);
                            letter-spacing: $letter-spacing-0 + 1;
                            &::after {
                                padding-right: $padding-5 + 3;
                                padding-left: $padding-1;
                                content: "|";
                            }
                            &:hover {
                                color: $color-yellow-0;
                                text-decoration: none
                            }
                        }
                        span {
                            @include styleText($color-gray-8, $font-size-0 - 3, $font-weight-0);
                            letter-spacing: $letter-spacing-0 + 1;
                        }
                    }
                    .blog__document {
                        margin-bottom: $margin-0;
                        line-height: $line-height-2;
                        @include styleText($color-gray-8, $font-size-0, $font-weight-0);
                    }
                    .blog__readMore {
                        position: relative;
                        letter-spacing: $letter-spacing-0;
                        @include styleText($color-gray-9, $font-size-0, $font-weight-0);
                        transition: 0.5s;
                        i {
                            position: absolute;
                            top: 2px;
                            margin-left: $margin-5;
                            font-weight: bold;
                        }
                        &:hover {
                            color: $color-black-2;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}