.club {
    .club__content {
        background: $color-gray-7;
        margin: 0 $margin-5 + 5;
        padding: $padding-4;
        .col-9 {
            h4 {
                letter-spacing: $letter-spacing-0;
                @include styleText($color-black-1, $font-size-0 + 3, $font-weight-3);
                span {
                    color: $color-yellow-0;
                }
            }
            p {
                margin-top: $margin-5;
                margin-bottom: 0;
                @include styleText($color-gray-1, $font-size-0, $font-weight-0);
            }
        }
    }
}