.creative {
    .creative__content {
        .creative__top {
            @extend %styleIntro;
            margin-bottom: $margin-2 + 10;
        }
        .creative__bottom {
            .nav-creative {
                display: flex;
                justify-content: center;
                .nav-item {
                    .nav-link {
                        @include styleText($color-gray-3, $font-size-0 - 1, $font-weight-0);
                        letter-spacing: $letter-spacing-0 + 2;
                        &.active {
                            color: $color-black-2;
                        }
                    }
                }
            }
            .tab-content {
                .all__content {
                    .all__item {
                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}