.feedback {
    border-bottom: 1px solid $color-gray-9;
    padding-bottom: 100px;
    .feedback__content {
        width: 50%;
        margin: auto;
        .item {
            text-align: center;
            .feedback__icon {
                border-radius: 50%;
                margin-bottom: 20px;
                i {
                    width: 100px;
                    height: 100px;
                    line-height: 100px;
                    border-radius: 50%;
                    @include styleText($color-white-0, $font-size-1 - 5, $font-weight-0);
                    background-color: $color-gray-9;
                }
            }
            .feedback__text {
                margin: 20px;
                p {
                    @include styleText($color-gray-1, $font-size-0 + 1, $font-weight-0);
                    font-style: italic;
                    line-height: 30px;
                    margin-bottom: 30px;
                }
                h4 {
                    margin-top: 10px;
                    letter-spacing: 2px;
                    @include styleText($color-black-2, $font-size-0 - 1, $font-weight-0);
                }
                h5 {
                    @include styleText($color-gray-11, $font-size-0 - 3, $font-weight-0);
                }
            }
        }
    }
}