footer {
    background-color: $color-black-2;
    padding-top: 80px;
    .footer__content {
        .footer__top {
            .footer__logo {
                p {
                    @include styleText($color-gray-1, $font-size-0, $font-weight-0);
                    margin: 0 0 $margin-0;
                    line-height: $line-height-2;
                }
            }
            .footer__text {
                padding: $padding-3;
                h4 {
                    @include styleText($color-white-0, $font-size-0 - 1, $font-weight-3);
                    letter-spacing: $letter-spacing-0;
                    margin-bottom: $margin-0;
                }
                ul {
                    list-style: none;
                    li {
                        border-bottom: 1px solid $color-black-1;
                        a {
                            @include styleText($color-gray-12, $font-size-0, $font-weight-0);
                            line-height: $line-height-4;
                        }
                    }
                }
            }
            .footer__img {
                padding: $padding-3;
                h4 {
                    @include styleText($color-white-0, $font-size-0 - 1, $font-weight-3);
                    letter-spacing: $letter-spacing-0;
                    margin-bottom: $margin-0;
                }
                .row {
                    width: 90%;
                    .col-xl-4 {
                        cursor: pointer;
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }
        .footer__bottom {
            width: 100%;
            padding: $padding-4 + 5 0;
            border-top: 1px solid $color-black-6;
            background: $color-black-7;
            color: $color-gray-13;
            .row {
                width: 90%;
                margin: auto;
                padding: 0;
                .footer__bottomRight {
                    p {
                        margin-bottom: 0;
                        margin-left: 0;
                        span {
                            color: $color-white-0;
                            transition: 0.5s;
                            &:hover {
                                color: $color-yellow-0;
                            }
                        }
                    }
                }
                .footer__bottomLeft {
                    a {
                        i {
                            color: $color-gray-13;
                            width: 35px;
                            height: 35px;
                            text-align: center;
                            border: 1px solid $color-gray-14;
                            border-radius: 50%;
                            line-height: $line-height-2 + 5;
                            margin-right: $margin-5 + 5;
                            transition: 0.5s;
                        }
                        &:hover {
                            i {
                                color: $color-white-0;
                                background: $color-gray-14;
                            }
                        }
                    }
                }
            }
        }
    }
}