#headerFixed {
    background-color: #0a0a0a;
    position: fixed;
    top: 0;
    transform: translateY(-100%);
    transition: transform 0.5s;
    .myNavBar {
        .navbar {
            height: 65px;
            .navbar-brand {
                img {
                    width: 65px;
                }
            }
        }
    }
}