header {
    position: absolute;
    z-index: 2;
    width: 100%;
    .myNavBar {
        .navbar {
            padding: 0 $padding-3;
            height: 100px;
            .navbar-brand {
                img {
                    position: relative;
                    top: -2px;
                    display: inline-block;
                    padding: $padding-5 0;
                    width: 110px;
                }
            }
            .navbar-toggler {
                color: white;
            }
            .navbar-collapse {
                .navbar-nav {
                    .nav-item {
                        margin-left: $margin-1;
                        .nav-link {
                            padding: 0 $padding-1 + 2;
                            font-size: $font-size-0 - 2;
                            font-weight: $font-weight-3;
                            letter-spacing: $letter-spacing-2;
                            color: $color-white-0;
                        }
                        &.active {
                            .nav-link {
                                color: $color-yellow-0;
                            }
                        }
                        &:hover {
                            .nav-link {
                                color: $color-yellow-0;
                            }
                        }
                    }
                }
            }
        }
    }
    @media screen and (min-width:992px) and (max-width:1020px) {
        .navbar {
            flex-wrap: wrap;
        }
    }
    @include responsive("large") {
        .navbar-collapse {
            width: 100%;
            background-color: white;
            .navbar-nav {
                .nav-item {
                    .nav-link {
                        color: black !important;
                        padding: 12px 20px !important;
                        border-bottom: solid 1px #f0f0f0 !important;
                    }
                    &.active {
                        .nav-link {
                            color: $color-yellow-0 !important;
                        }
                    }
                    &:hover {
                        .nav-link {
                            color: $color-yellow-0 !important;
                        }
                    }
                }
            }
        }
    }
}