.introduce {
    .introduce__content {
        .introduce__top {
            @extend %styleIntro;
        }
        .introduce__bottom {
            .introduce__item {
                transition: 0.5s;
                .card {
                    position: relative;
                    padding: 30px;
                    border: 1px solid $color-gray-2;
                    border-radius: 4px;
                    .card-img-top {
                        position: absolute;
                        top: -30px;
                        left: 30px;
                        width: 60px;
                        height: 60px;
                        border-radius: 4px;
                        background-color: $color-black-2;
                        text-align: center;
                        box-shadow: $color-white-1;
                        i {
                            line-height: $line-height-1;
                            color: $color-white-0;
                            font-size: $font-size-3;
                        }
                    }
                }
                &:hover {
                    .card-img-top {
                        background-color: $color-yellow-0;
                    }
                }
            }
        }
    }
}