.number {
    background-color: #1b1b1b;
    padding: $padding-0;
    color: $color-white-0;
    text-align: center;
    .number__content {
        .number__top {
            margin-bottom: $margin-5;
            i {
                padding-right: $padding-1;
                font-size: 36px;
            }
            span {
                font-size: $font-size-3 + 6;
                letter-spacing: $letter-spacing-0 + 1;
            }
        }
        .number__bottom {
            h3 {
                letter-spacing: $letter-spacing-0;
                font-size: $font-size-0;
            }
        }
    }
}