.parallax {
    background-image: url(../img/8.jpg);
    @extend %backgroundImg;
    height: 500px;
    .parallax__content {
        padding: $padding-6 0;
        text-align: center;
        p {
            @include styleText($color-yellow-0, $font-size-0 + 2, $font-weight-0);
            letter-spacing: $letter-spacing-0 + 2;
        }
        h1 {
            margin-bottom: 50px;
            letter-spacing: $letter-spacing-0 + 1;
            @include styleText($color-white-0, $font-size-3 + 6, $font-weight-3);
        }
    }
}