.represent {
    background-image: url(../img/index-banner-2.jpg);
    height: 100vh;
    @extend %backgroundImg;
    position: relative;
    .represent__content {
        position: absolute;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        h1 {
            @include styleText($color-white-0, $font-size-1, $font-weight-1);
            letter-spacing: $letter-spacing-1 - 1;
            line-height: $line-height-3;
        }
        h3 {
            @include styleText($color-white-0, $font-size-2, $font-weight-3);
            line-height: 1.5;
            letter-spacing: $letter-spacing-1;
        }
    }
    @include responsive("medium") {
        .represent__content {
            h1 {
                font-size: $font-size-3;
            }
            h3 {
                font-size: $font-size-2 - 2;
            }
        }
    }
}