.skill {
    background-image: url(../img/4.jpg);
    height: 650px;
    @extend %backgroundImg;
    overflow: hidden;
    .skill__content {
        height: 100%;
        width: 100%;
        .row {
            height: 100%;
            .skill__white {
                width: 100%;
                position: relative;
                .skill__left {
                    position: absolute;
                    top: 50%;
                    left: 27%;
                    transform: translateY(-50%);
                    h3 {
                        @include styleText($color-white-0, $font-size-2 + 4, $font-weight-3);
                        letter-spacing: $letter-spacing-1;
                    }
                }
            }
            .skill__black {
                width: 50%;
                background-color: $color-black-3;
                .skill__right {
                    padding: 0 200px 0 30px;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    .skill__top {
                        h4 {
                            @include styleText($color-white-0, $font-size-0 + 3, $font-weight-3);
                            letter-spacing: $letter-spacing-0 + 1;
                            margin-bottom: $margin-0;
                        }
                        p {
                            @include styleText($color-white-0, $font-size-0, $font-weight-3);
                            line-height: $line-height-2;
                        }
                    }
                    .skill__bottom {
                        .progress {
                            margin: 30px 0 50px;
                            border-radius: 0px;
                            background: #606060;
                            .progress-bar {
                                padding-left: $padding-1;
                                color: $color-black-2;
                            }
                        }
                    }
                }
            }
        }
    }
    @include responsive("large") {
        height: 100vh;
    }
}