    .team {
        .team__content {
            .team__top {
                @extend %styleIntro;
            }
            .team__bottom {
                .col-lg-4,
                .col-12 {
                    padding: 0 $padding-3;
                    .team__introduce {
                        position: relative;
                        overflow: hidden;
                        .team__img {
                            position: relative;
                            img {
                                width: 100%;
                            }
                            .team__name {
                                position: absolute;
                                right: 0;
                                bottom: 30px;
                                width: 70%;
                                padding: $padding-1 $padding-2 + 5;
                                text-align: right;
                                background: $color-black-4;
                                h5 {
                                    @include styleText($color-white-0, $font-size-0 - 1, $font-weight-3);
                                    margin-bottom: 0;
                                    letter-spacing: $letter-spacing-0 + 1;
                                }
                                span {
                                    @include styleText($color-gray-4, $font-size-0 - 3, $font-weight-0);
                                    letter-spacing: $letter-spacing-0 + 1;
                                }
                            }
                        }
                        .team__hover {
                            position: absolute;
                            width: 100%;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            margin: 0;
                            opacity: 0;
                            border: 20px solid $color-gray-5;
                            background-color: $color-gray-6;
                            .hover__top {
                                transition: all 0.5s;
                                position: absolute;
                                top: 0;
                                width: 100%;
                                padding: 0 $padding-2 + 5;
                                transform: translateY(-55%);
                                text-align: center;
                                h4 {
                                    margin-bottom: $margin-4 + 5;
                                    letter-spacing: $letter-spacing-0 + 3;
                                    font-size: $font-size-0 - 1;
                                }
                                p {
                                    margin-bottom: 0;
                                    @include styleText($color-gray-1, $font-size-0 - 1, $font-weight-3);
                                    line-height: $line-height-2;
                                }
                            }
                            .hover__bottom {
                                transition: all 0.5s;
                                position: absolute;
                                bottom: 0;
                                width: 100%;
                                transform: translateY(45%);
                                text-align: center;
                                a {
                                    @include styleText($color-black-2, $font-size-0 + 1, $font-weight-3);
                                    transition: 0.5s;
                                    margin: 0 $margin-5;
                                    &:hover {
                                        color: $color-yellow-0;
                                    }
                                }
                            }
                            &:hover {
                                opacity: 1;
                                .hover__top {
                                    transform: translateY(0%);
                                }
                                .hover__bottom {
                                    transform: translateY(-50%);
                                }
                            }
                        }
                    }
                }
            }
        }
    }