.work {
    background-image: url(../img/pattern-2.png);
    @extend %backgroundImg;
    height: 603px;
    padding: $padding-0 0;
    .work__content {
        padding: 0 $padding-4 + 5;
        .nav-pills {
            .nav-item {
                position: relative;
                .nav-link {
                    padding: $padding-3 + 5 $padding-7;
                    background-color: $color-gray-10;
                    margin-right: $margin-4;
                    border-radius: 0;
                    i {
                        color: $color-black-5;
                        font-size: $font-size-3 + 6;
                    }
                    &::after {
                        content: "";
                        position: absolute;
                        bottom: -10px;
                        left: 40%;
                        width: 20px;
                        height: 20px;
                        background-color: $color-gray-10;
                        display: none;
                        transform: rotate(45deg);
                    }
                    &:hover {
                        background-color: $color-white-0;
                        &::after {
                            display: block;
                            background-color: $color-white-0;
                        }
                    }
                    &:focus {
                        background-color: $color-white-0;
                        &::after {
                            display: block;
                            background-color: $color-white-0;
                        }
                    }
                }
            }
        }
        .tab-content {
            padding: 30px 0;
            .tab-pane {
                line-height: $line-height-2;
                h5 {
                    @include styleText($color-gray-1, $font-size-0 - 1, $font-weight-3);
                    letter-spacing: $letter-spacing-0 + 1;
                }
                h2 {
                    @include styleText($color-black-2, $font-size-3, $font-weight-3);
                    letter-spacing: $letter-spacing-0 + 1;
                    margin-bottom: $margin-2;
                }
            }
        }
    }
    @include responsive("medium") {
        height: 120vh;
        .work__content {
            padding-right: 0;
            padding-left: 0;
            .nav-pills {
                li {
                    margin-bottom: 15px;
                    width: 100%;
                }
            }
        }
    }
}